version: 2
updates:
  - package-ecosystem: "github-actions"
    commit-message:
      prefix: "chore"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "github-actions"
